[submodule "submodules/backdoor_attack"]
	path = submodules/backdoor_attack
	url = https://github.com/kylecui/backdoor_attack_llm.git
[submodule "submodules/hackingBuddyGPT"]
	path = submodules/hackingBuddyGPT
	url = https://github.com/ipa-lab/hackingBuddyGPT.git
[submodule "submodules/DAN"]
	path = submodules/DAN
	url = https://github.com/0xk1h0/ChatGPT_DAN
